#vertical{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

#horisontal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
}
