.titulo{ /* quando poe ponto cria uma classe, se nao esta referenciando um atributo( h p header etc*/
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    
}
.subtitulo{
    color:#555 ;    
    font-family: 'Open Sans', sans-serif;
}
th{
    text-align: center ;
    font-weight: bold;
    color:black;
    font-size: small;
}
.textoaocentro{
    text-align: center;
}
table, td {
    font-family: 'Open Sans', sans-serif;
  }
tr:nth-child(even)
{
    background-color: rgb(224, 224, 224);
    color:#555;
    
    }  
tr:nth-child(odd){
    color:#555;        
}  
    
